<div
   class="bg rounded-xl px-8 py-14 text-white flex gap-1 justify-between"
>
   <div class="space-y-3 w-1/2">
      <div class="text-3xl font-semibold">Contact us</div>

      <div class="text-sm">
         Get in touch with us! Wheter you have questions, feedback, or just want
         to say hello, we're here for you.
      </div>
   </div>

   <form class="bg-white rounded-2xl p-5 pt-4 w-1/2 text-black text-sm space-y-3">
      <div class="text-lg font-medium">Send us your message</div>

      <fieldset>
         <legend class="font-medium">Username</legend>

         <input
            type="text"
            placeholder="T1xx1..."
            class="border-2 rounded-lg px-1.5 py-1 w-full"
         />
      </fieldset>

      <fieldset>
         <legend class="font-medium">Email</legend>

         <input
            type="text"
            placeholder="username@provider.tld..."
            class="border-2 rounded-lg px-1.5 py-1 w-full"
         />
      </fieldset>

      <fieldset>
         <legend class="font-medium">Topic</legend>

         <select class="border-2 rounded-lg p-1 w-full cursor-pointer">
            <option selected class="text-gray-700">Select...</option>
            <option>Question</option>
            <option>Feedback</option>
            <option>Hi</option>
         </select>
      </fieldset>

      <fieldset>
         <legend class="font-medium">Message</legend>

         <textarea
            placeholder="Hi there..."
            class="border-2 rounded-lg px-1.5 py-1 h-24 w-full resize-none"></textarea>
      </fieldset>

      <button
         type="button"
         class="bg-[#ff0080] hover:bg-[#ff3399] rounded-full py-1.5 w-full text-white"
         >Submit</button
      >
   </form>
</div>

<style>
   .bg {
      background-image: url('./bg.jpg');
      background-size: cover;
   }
</style>