---
import { Image } from "astro:assets";

import ticket from "./ticket.svg";
---

<div class="bg-teal-100 bg-opacity-50 rounded-xl px-7 py-14 w-full space-y-5">
   <div>
      <h2 class="text-2xl font-bold">Music events</h2>
      <div class="text-sm font-medium">in Milan, Italy</div>
   </div>

   <div class="space-y-3">
      <div class="bg-white rounded-xl p-2 flex gap-3 items-center">
         <div
            class="bg-pink-300 bg-opacity-50 rounded-lg p-1.5 w-24 text-center"
         >
            <div class="text-xs">14 september</div>
            <div class="text-xl font-semibold">20:00</div>
         </div>

         <div>
            <div class="font-semibold">Eras of Enchantment Tour</div>
            <div class="text-xs">
               A magical journey through the different musical eras...
            </div>
         </div>

         <a
            href="https://open.spotify.com/intl-it/track/1BxfuPKGuaTgP7aM0Bbdwr?si=ef3809fc7e1e4339"
            class="bg-black rounded-lg ml-auto px-4 py-2.5 flex gap-2 items-center text-white text-sm"
         >
            <Image src={ticket} alt="Ticket" class="h-4 w-4" />

            <div>Buy your ticket</div>
         </a>
      </div>

      <div class="bg-white rounded-xl p-3 flex gap-3 items-center">
         <div
            class="bg-emerald-300 bg-opacity-50 rounded-lg p-1.5 w-24 text-center"
         >
            <div class="text-xs">25 october</div>
            <div class="text-xl font-semibold">21:00</div>
         </div>

         <div>
            <div class="font-semibold">Queen of the Jungle Live</div>
            <div class="text-xs">
               A unique visual and auditory experience, featuring her biggest...
            </div>
         </div>

         <a
            href="https://open.spotify.com/intl-it/track/2jATUzETZL49e6SywauZKE?si=6251039bbf7f4126"
            class="bg-black ml-auto rounded-lg px-4 py-2.5 flex gap-2 items-center text-white text-sm"
         >
            <Image src={ticket} alt="Ticket" class="h-4 w-4" />

            <div>Buy your ticket</div>
         </a>
      </div>

      <div class="bg-white rounded-xl p-3 flex gap-3 items-center">
         <div
            class="bg-sky-300 bg-opacity-50 rounded-lg p-1.5 w-24 text-center"
         >
            <div class="text-xs">10 november</div>
            <div class="text-xl font-semibold">19:30</div>
         </div>

         <div>
            <div class="font-semibold">Good as Hell Tour</div>
            <div class="text-xs">
               Lizzo returns to Italy with her tour celebrating...
            </div>
         </div>

         <a
            href="https://open.spotify.com/intl-it/track/6KgBpzTuTRPebChN0VTyzV?si=4166e2da537e47df"
            class="bg-black ml-auto rounded-lg px-4 py-2.5 flex gap-2 items-center text-white text-sm"
         >
            <Image src={ticket} alt="Ticket" class="h-4 w-4" />

            <div>Buy your ticket</div>
         </a>
      </div>

      <div class="bg-white rounded-xl p-3 flex gap-3 items-center">
         <div
            class="bg-purple-300 bg-opacity-50 rounded-lg p-1.5 w-24 text-center"
         >
            <div class="text-xs">3 december</div>
            <div class="text-xl font-semibold">20:30</div>
         </div>

         <div>
            <div class="text-semibold">Loud and Proud Tour</div>
            <div class="text-xs">
               Måneskin will set the stage on fire with their disruptive...
            </div>
         </div>

         <a
            href="https://open.spotify.com/intl-it/track/0cyQuiFTVaHM70y8xRsOWA?si=0a540fd21d7b4424"
            class="bg-black ml-auto rounded-lg px-4 py-2.5 flex gap-2 items-center text-white text-sm"
         >
            <Image src={ticket} alt="Ticket" class="h-4 w-4" />

            <div>Buy your ticket</div>
         </a>
      </div>
   </div>
</div>
