---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import type { Type as ComponentType } from "~/content/data/schema";

import Page from "~/layouts/page.astro";

export const getStaticPaths: GetStaticPaths = async () => {
   const componentsCollection = await getCollection("data");

   return componentsCollection.map((componentEntry) => ({
      params: {
         componentId: componentEntry.id,
      },
      props: {
         id: componentEntry.id,
         component: componentEntry.data,
      },
   }));
};

type Props = {
   id: string;
   component: ComponentType;
};

const { id, component } = Astro.props;

const Component = (await import(`../content/components/${id}/index.astro`))
   .default;
---

<Page>
   <h2 class="text-5xl font-semibold">{component.title}</h2>

   <div class="flex flex-col md:flex-row gap-5 items-start">
      <div class="w-full md:w-1/2 flex flex-col gap-3 items-center">
         <div class="text-lg">Inspo</div>

         <Image
            src={component.inspo}
            alt="Inspo"
            inferSize={true}
            class="rounded-xl"
         />
      </div>

      <div
         class="rounded-xl w-full md:w-1/2 flex flex-col gap-3 items-center justify-center"
      >
         <div class="text-lg">My component</div>

         <Component />
      </div>
   </div>
</Page>
