---
import uis from "~/content/uis.json";

import Base from "~/layouts/base.astro";

import Counter from '~/components/counter.astro';
import Title from '~/components/title.astro';
---

<Base styles="flex flex-col space-y-5">
   <Title />

   <div class="space-y-5">
      <Counter val={uis.length} />

      <!-- uis -->
      <div class="flex flex-wrap gap-5 justify-center">
         {
            uis.map(async (uiEntry) => {
               const Component = (
                  await import(
                     `./${uiEntry.id}/component.astro`
                  )
               ).default;

               return (
                  <div class="card pt-3 w-full md:w-[49%] space-y-3">
                     <h3 class="h3 text-center">
                        <a href={`./${uiEntry.id}`} class="link">
                           {uiEntry.title}
                        </a>
                     </h3>

                     <Component />
                  </div>
               );
            })
         }
      </div>
   </div>
</Base>