---
import { Image } from 'astro:assets';

import copy from './copy.svg';
import reload from './reload.svg';

import { Slider } from './slider';
import { Switch } from './switch';

import Bg from '~/components/bg.astro';
---

<Bg twBgColor="bg-violet-300">
   <div class="bg-black rounded-3xl p-5 w-80 space-y-5 text-white text-sm shadow">
      <h2 class='py-1 text-2xl text-center font-medium'>Password generator</h2>

      <div class='bg-violet-900 bg-opacity-50 rounded-xl px-4 py-3 flex items-center justify-between'>
         <Image src={reload} alt="Reload" class='h-5 w-5 cursor-pointer' />
         
         <div class='text-lg font-medium'>sZBseL181NEj</div>
         
         <Image src={copy} alt="Copy" class='h-5 w-5 cursor-pointer' />
      </div>

      <div class='space-y-3'>
         <div class="text-gray-100 text-opacity-60">Length</div>

         <div class='bg-violet-900 bg-opacity-50 rounded-xl px-4 py-3 flex gap-3 items-center justify-between'>
            <div>8</div>

            <Slider client:load />

            <div>20</div>
         </div>
      </div>

      <div class='space-y-3'>
         <h3 class='text-gray-100 text-opacity-60'>Settings</h3>

         <div class='bg-violet-900 bg-opacity-50 rounded-xl px-4 py-3 flex items-center justify-between'>
            <div>Include uppercase letters</div>

            <Switch client:load />
         </div>

         <div class='bg-violet-900 bg-opacity-50 rounded-xl px-4 py-3 flex items-center justify-between'>
            <div>Include lowercase letters</div>

            <Switch client:load />
         </div>

         <div class='bg-violet-900 bg-opacity-50 rounded-xl px-4 py-3 flex items-center justify-between'>
            <div>Include numbers</div>

            <Switch client:load />
         </div>

         <div class='bg-violet-900 bg-opacity-50 rounded-xl px-4 py-3 flex items-center justify-between'>
            <div>Include symbols</div>

            <Switch client:load />
         </div>
      </div>

      <button type="button" class='bg-violet-500 hover:bg-violet-400 rounded-lg py-2 w-full text-white font-medium'>Generate</button>
   </div>
</Bg>