---
import Carousel from "./carousel";
---

<div class="bg rounded-xl p-5 w-full flex justify-center">
   <Carousel client:load />
</div>

<style>
   .bg {
      background: url("./bg.webp");
   }
</style>