<div class="bg rounded-xl px-14 py-20 space-y-7">
   <div>
      <div class="text-sm font-bold">Join us</div>

      <h2 class="text-3xl font-bold">Create your new account</h2>
   </div>

   <form class="space-y-4 w-2/3">
      <fieldset class="bg-blue-200 bg-opacity-50 rounded-lg px-3 py-2">
         <div class="text-xs text-gray-600 font-semibold">Username</div>

         <input
            type="text"
            class="bg-transparent text-sm font-semibold w-full outline-none"
            placeholder="T1xx1"
         />
      </fieldset>

      <fieldset class="bg-blue-200 bg-opacity-50 rounded-lg px-3 py-2">
         <div class="text-xs text-gray-600 font-semibold">Email</div>

         <input
            type="email"
            class="bg-transparent text-sm font-semibold w-full outline-none"
            placeholder="username@provider.tld"
         />
      </fieldset>

      <fieldset class="bg-blue-200 bg-opacity-50 rounded-lg px-3 py-2">
         <div class="text-xs text-gray-600 font-semibold">Password</div>

         <input
            type="password"
            class="bg-transparent text-sm font-semibold w-full outline-none"
            placeholder="*******"
         />
      </fieldset>

      <button
         type="button"
         class="bg-blue-700 hover:bg-blue-600 rounded-full py-2 w-full text-white text-sm font-semibold"
      >
         Create account
      </button>
   </form>

   <div class="w-2/3 text-xs text-center">
      <div>Already have an account?</div>

      <a href="" class="text-blue-700 hover:underline font-semibold">Sign in </a>
   </div>
</div>

<style>
   .bg {
      background: url("./bg.webp") center center;
      background-size: cover;
   }
</style>
