---
import { Image } from "astro:assets";

import google from "./google.svg";
---

<div
   class="bg-gray-300 bg-opacity-50 rounded-xl p-10 w-full flex justify-center"
>
   <div
      class="bg-white bg-opacity-50 border rounded-2xl px-5 py-6 w-80 space-y-4 shadow-lg"
   >
      <div class="space-y-2 text-center font-semibold">
         <h2 class="text-2xl">Sign up</h2>

         <div class="text-sm">Join us and kick start your journey</div>
      </div>

      <form class="space-y-2">
         <fieldset class="border-2 border-gray-300 rounded-md px-1.5 py-1">
            <legend class="text-xs text-gray-400">Username</legend>

            <input
               type="text"
               class="bg-transparent px-1 w-full outline-none"
            />
         </fieldset>

         <fieldset class="border-2 border-gray-300 rounded-md px-1.5 py-1">
            <legend class="text-xs text-gray-400">Email</legend>

            <input
               type="email"
               class="bg-transparent px-1 w-full outline-none"
            />
         </fieldset>

         <fieldset class="border-2 border-gray-300 rounded-md px-1.5 py-1">
            <legend class="text-xs text-gray-400">Password</legend>

            <input
               type="password"
               class="bg-transparent px-1 w-full outline-none"
            />
         </fieldset>

         <button
            type="submit"
            class="bg-indigo-950 rounded-md py-1.5 w-full text-white shadow"
            >Sign up</button
         >
      </form>

      <div class="text-center text-sm">
         Already have an account?

         <a href="" class="text-blue-700 hover:underline">Login</a>
      </div>

      <div class="text-xs text-center text-gray-500">Or</div>

      <button
         type="button"
         class="border-2 border-gray-300 hover:border-gray-400 rounded-lg px-3 py-2 w-full flex gap-3 items-center justify-center"
      >
         <Image src={google} alt="Google" class="h-5 w-5" />

         <div class="text-sm font-medium">Sign up with Google</div>
      </button>
   </div>
</div>
