---
type Props = {
   styles?: string;
};

const { styles } = Astro.props;
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title>100 frontend challenges</title>
   </head>

   <body class={styles}>
      <slot />
   </body>
</html>
